@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  height: 100%;
  text-align: center;
  background: #100d10;
}

#moon {
  width: 100%;
  height: 100%;
}

.shader-blur {
  filter: blur(0.5rem);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.shader-backdrop {
  clip-path: url(#moon);
}

.navbar {
  z-index: 201;
  top: 0;
  left: 0;
  position: absolute;
}

.page-section {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 200;
}