form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 50%;
    margin: calc((100vh - 3rem) *.125) auto;
    height: 75%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: white;
    background-color: rgba(47, 43, 47, 0.75);
}

label {
    text-align: left;
    width: 100%;
}
input[type=text] {
    margin-top: 0.5rem;
    border: 0;
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
}

.error {
    margin-top: 0.5rem;
    color: #f57272;
}

#submit {
    margin: 0 auto;
}

h2, p {
    color: white;
}

textarea.errored, input.errored {
    background-color: #f57272;
}

textarea.valid, input.valid {
    background-color: #72f5bf;
}

textarea:focus, input:focus {
    outline: thin solid #0ff89a;
    background-color: white;
}
