#link-container {
    display: grid;
    overflow: visible;
    border-radius: 1.25rem;
}

#link-container:hover .navlink {
    color: #0ff89a;
    transition-property: color;
    transition: 0.1s;
}

#link-container .navlink {
    z-index: 301;
}

#link-bg, #link-bg-active {
    overflow: visible;
    fill: rgb(255, 223, 255);
    opacity: 0;
}