.logo-bg {
    display: inline-block;
    width: 50vh;
    height: 50vh;
    background-color: rgba(15, 248, 154, 0.45);
    clip-path: url(#logo-clip);
}

#start-circle-svg {
    position: absolute;
    overflow: visible;
    top: calc(50vh - min(25vw, 25vh));
    left: calc(50vw - min(25vw, 25vh));
    fill: white;
    opacity: 0.7;
}

.front-logo {
    transform: translateZ(0);
    overflow: visible !important;
    backface-visibility: hidden;
    perspective: 1000px;
    fill: white;
    z-index: 304;
}
.logo1 {
    z-index: 303;
    fill: #b983ff;
}
.logo2 {
    z-index: 302;
    fill: #94b3fd;
}
.logo3 {
    z-index: 301;
    fill: #94daff;
}
.logo4 {
    z-index: 300;
    fill: #99feff;
}

.logo-instance {
    position: absolute;
    top: calc(50vh - min(25vw, 25vh));
    left: calc(50vw - min(26vw, 26vh));
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}