.title {
    grid-area: title;
}

.left-bar {
    grid-area: left-bar;
}

.right-section-one {
    grid-area: right-section-one;
}

.right-section-two {
    grid-area: right-section-two;
}

.right-section-three {
    grid-area: right-section-three;
}

section{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 2rem;
    grid-template-areas:
        ". .        .                   ."
        ". title    title               ."
        ". left-bar right-section-one   ."
        ". left-bar right-section-two   ."
        ". left-bar right-section-three ."
        ". .        .                   .";
}

.grid-box {
    background: rgba(161, 255, 217, 0.85);
    border-radius: 1rem;
}